.dark-mode {
  --canvas-bg-color: #1d1d1d;
  --sidebar-bg-color: rgb(45, 50, 56);
  --main-bg-color: rgb(45, 51, 59);
  --header-bg-color: #3a3f61;

  --hover-bg-color: rgb(255, 255, 255, 0.05);
  --header-color: #ffffff;
  --color: #a7b5c2;
  --link-color: #549bf5;
  --link-hover-color: #4a8ce4;
  --border-color: #363f47;

  --btn-color: #ffffff;

  --input-color: #a7b5c2;
  --input-bg: rgb(45, 50, 56);

  --primary-bg: #3a3f61;
  --primary-hover-bg: #2b304e;
  --primary-color: #ffffff;
  --primary-active-color: #dddddd;

  background-color: var(--canvas-bg-color);
  color: var(--color);
}

body {
  --canvas-bg-color: #ffffff;
  --sidebar-bg-color: #ffffff;
  --header-bg-color: #4a507b;
  --header-color: #ffffff;
  --main-bg-color: #ffffff;
  --hover-bg-color: rgb(0, 0, 0, 0.05);
  --input-color: #333333;
  --color: #333333;
  --link-color: #549bf5;
  --link-hover-color: #4a507b;
  --border-color: #a9adb1;

  --btn-color: #333333;

  --input-bg: #ffffff;

  --primary-bg: #4a507b;
  --primary-hover-bg: #363b61;
  --primary-color: #ffffff;
  --primary-active-color: #dddddd;

  background-color: var(--canvas-bg-color);
  color: var(--color);
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

textarea,
select,
input,
button {
  outline: none;
}

input:hover,
input:active {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: var(--border-color);
  -webkit-text-fill-color: var(--color);
  -webkit-box-shadow: none;
  transition: background-color 1000s ease-in-out 0s;
}

input:-internal-autofill-selected,
.form-control,
.custom-select {
  color: var(--input-color);
  background-color: var(--input-bg) !important;
  border-color: var(--border-color);
}

.form-control:focus {
  border-color: var(--border-color);
}

html,
body {
  position: relative;
  height: 100%;
}

.dropdown-menu a,
.markdown-body a,
a {
  color: var(--link-color);
}

.dropdown-menu a:hover,
.markdown-body a:hover,
a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.markdown-body .emoji {
  height: 1.3em;
  margin: 0;
  vertical-align: -0.1em;
}

.navbar {
  background: var(--header-bg-color) !important;
}

.navbar {
  font-weight: 300;
  transition: background-color 0.5s ease;
}

.navbar .nav-link.nav-icon {
  padding: 0 0.5rem;
}

.navbar .nav-link .fa,
.navbar .nav-link .fab {
  font-size: 30px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .navbar-brand {
    width: 280px;
  }
}

.navbar-brand {
  text-align: center;
}

#navbarSupportedContent {
  padding-right: 200px;
}

.generalMessage {
  display: block;
  text-align: center;
  color: var(--header-color);
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg,
      rgba(51, 51, 51, 0.82),
      rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg,
      rgba(51, 51, 51, 0.82),
      rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg,
      rgba(51, 51, 51, 0.82),
      rgba(13, 17, 198, 0.69) 100%);
  color: var(--header-color);
}

.dropdown-menu,
.body,
.file-content,
.markdown-body {
  background-color: var(--main-bg-color) !important;
  color: var(--color) !important;
}

.file-content {
  padding: 4px 7px;
  text-align: left;
  min-height: 100%;
}

.badge {
  font-size: 45%;
}

.warning-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc8e35;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--hover-bg-color);
}

.card-header .btn,
.card-header .btn:hover,
.card-header .btn:focus {
  border: none !important;
  background: transparent !important;
}

.btn {
  color: var(--btn-color);
  border: 1px solid var(--border-color);
  background: transparent;
  border-radius: 4px;
  white-space: nowrap;
}

.btn:hover,
.btn:active {
  color: var(--btn-color);
  border: 1px solid var(--border-color);
  background-color: var(--hover-bg-color);
  box-shadow: none !important;
}

.btn.btn-primary {
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
  color: var(--primary-active-color);
  background-color: var(--primary-hover-bg) !important;
}

.btn::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color);
  opacity: 1;
  /* Firefox */
}

.white_border {
  border: 1px solid white;
  color: white;
}

.leftCol {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  z-index: 9;
  flex-direction: column;
}

.leftCol,
.sidePanel,
.card {
  background-color: var(--sidebar-bg-color);
  border: 1px solid var(--border-color);
}

@media (min-width: 768px) {
  .leftCol {
    flex: 0 0 310px;
    width: 310px;
    height: 100%;
  }
}

.files {
  position: relative;
  display: block;
  overflow: auto;
  height: 100%;
}

.files a {
  display: block;
  padding: 0px 3px 0px 20px;
  color: var(--color);
}

.files .file,
.files .folder {
  position: relative;
  color: var(--color);
  cursor: pointer;
  word-break: break-all;
}

.files .file.active a,
.files .file a:hover {
  background: var(--hover-bg-color);
  color: var(--color);
}

.files ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.files li ul {
  padding-left: 10px;
}

.files .folder>ul {
  display: none;
}

.files .folder.open>ul {
  display: block;
}

.files .file::before {
  content: "\f15b";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  left: 0px;
  width: 18px;
  height: 21px;
  overflow: hidden;
  padding: 1px;
  color: var(--primary-bg);
}

.files .folder::before {
  content: "\f07b";
  color: var(--primary-bg);
}

.files .folder.open::before {
  content: "\f07c";
  color: var(--primary-hover-bg);
}

.ace_editor {
  height: 100%;
}

.ace_scroller {
  cursor: default;
}

.status-bar {
  background-color: var(--main-bg-color);
  padding: 8px 6px;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
}

.paths {
  padding: 0;
  margin: 0;
  background-color: initial;
  border: none;
  border-radius: 0;
  align-items: center;
}

.paths a {
  color: var(--color);
}

.paths .breadcrumb-item {
  padding-left: 3px;
}

.paths .breadcrumb-item::before {
  padding-right: 3px;
}

.content {
  height: 100%;
  overflow: scroll;
  padding-top: 42px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.image-content {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 4px;
}

.file-error {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

pdfviewer {
  display: block;
  padding: 15px;
}

pdfpageviewer {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

notebook {
  display: block;
  text-align: left;
  padding: 15px;
  padding-left: 100px;
}

.nb-output th,
.nb-output td {
  border: 1px solid var(--border-color) !important;
}

.floatingchat-container-wrap {
  left: inherit !important;
  bottom: inherit !important;
  top: 3px !important;
  height: 47px !important;
  right: 3px !important;
}

.floating-chat-kofi-popup-iframe {
  left: inherit !important;
  bottom: inherit !important;
  top: 55px !important;
  right: 10px !important;
}

.faq-section .panel-default .panel-title a {
  color: var(--color);
  display: block;
}

.faq-section .panel-heading {
  background-color: var(--sidebar-bg-color);
}

.faq-section .panel-default {
  background-color: var(--hover-bg-color);
}

.faq-section .panel-default .panel-title {
  margin-bottom: 0;
}

.faq-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  float: right;
  margin-top: -12px;
}

.faq-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.faq-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.table {
  color: var(--color);
}

.table td,
.table th,
hr,
.dropdown-divider {
  border-color: var(--border-color);
}

.table.repositories td {
  word-break: break-word;
}

loc {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
}

loc .lang {
  float: left;
  height: 100%;
}

.rounded-circle.fa {
  display: inline-block;
  font-size: 75px;
  height: 140px;
  width: 140px;
  border: 4px solid;
  line-height: 140px;
  text-align: center;
}

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.dark-mode .shadow {
  box-shadow: none;
}

.dark-mode .overflow-auto::-webkit-scrollbar {
  width: 10px;
}

.dark-mode .overflow-auto::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: inherit;
  border-radius: 0;
}

.dark-mode .overflow-auto::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--hover-bg-color);
}

.dark-mode .rgba-gradient {
  background: -moz-linear-gradient(45deg,
      rgb(45 45 64 / 82%),
      rgb(23 26 49) 100%);
  background: -webkit-linear-gradient(45deg,
      rgb(45 45 64 / 82%),
      rgb(23 26 49) 100%);
  background: linear-gradient(to 45deg,
      rgb(45 45 64 / 82%),
      rgb(23 26 49) 100%);
}


.section-number {
  padding-right: 10px;
  font-weight: bold;
  font-style: italic;
}

.org-subscript-child {
  font-size: 85%;
}

.highlighted-line {
  position: absolute;
  background: rgba(100, 200, 100, 0.5);
  z-index: 20
}

pre,
code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  line-height: 1.1;
  color: var(--color)
}

.diff-lines,
.diff-file,
.diff-index {
  background: rgba(172, 172, 172, 0.5);
}

.diff-add {
  background: rgba(100, 200, 100, 0.5);
}

.diff-remove {
  background: rgba(200, 100, 100, 0.5);
}