.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
textarea,
select,
input,
button {
  outline: none;
}

html,
body {
  position: relative;
  height: 100%;
}

.navbar {
  background: #4a507b !important;
}

.navbar {
  font-weight: 300;
  transition: background-color 0.5s ease;
}
.navbar .nav-link.nav-icon {
  padding: 0 0.5rem;
}
.navbar .nav-link .fa {
  font-size: 30px;
  line-height: 40px;
}

.navbar-brand {
  width: 280px;
  text-align: center;
}

.generalMessage {
  display: block;
  text-align: center;
  color: #ffffff;
}

.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(51, 51, 51, 0.82),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(51, 51, 51, 0.82),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: linear-gradient(
    to 45deg,
    rgba(51, 51, 51, 0.82),
    rgba(13, 17, 198, 0.69) 100%
  );
  color: white;
}
a:hover {
  text-decoration: none;
}
.btn,
.white_border,
.black_border {
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 2px;
}
.card-header .btn {
  border: none;
}
.btn,
.btn:hover,
a.white_border,
a.white_border:hover,
a.black_border,
a.black_border:hover {
  color: white;
}
.btn::placeholder,
.white_border::placeholder,
.black_border::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
}

.profile-photo {
  border-radius: 50%;
  height: 30px;
  position: relative;
  display: inline;
}
.btn,
.black_border {
  border: 1px solid #333333;
}
.btn,
.btn:hover,
a.black_border,
a.black_border:hover {
  color: #333333;
}
.btn::placeholder,
.black_border::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666;
  opacity: 1; /* Firefox */
}

.leftCol {
  position: relative;
  height: 100%;
  width: 310px;
  z-index: 9;
  background: #ecedef;
  background: white;
}
.files {
  position: relative;
  display: block;
  overflow: auto;
  height: 100%;
}

.files a {
  display: block;
  padding: 0px 3px 0px 25px;
  color: #555555;
}

.files .file,
.files .folder {
  position: relative;
  color: #555555;
  cursor: pointer;
  word-break: break-all;
}

.files .file.active a,
.files .file a:hover {
  background: #ecedef;
  color: #555555;
}
.files ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files li ul {
  padding-left: 10px;
}
.files .folder > ul {
  display: none;
}
.files .folder.open > ul {
  display: block;
}
.files .file::before {
  content: "\f15b";
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  width: 7px;
  padding: 1px;
  padding-left: 1px;
  color: #858b90;
}

.files .folder::before {
  content: "\f07b";
  color: #3ba3f8;
}
.files .folder.open::before {
  content: "\f07c";
}

.stats {
  height: 120px;
  overflow: scroll;
  border-top: 1px solid #ddd;
}

.ace_editor {
  height: 100%;
}

.paths {
  background-color: #ffffff;
  padding: 8px 6px;
  margin: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}

.paths a {
  color: #000000;
}
.paths .breadcrumb-item {
  padding-left: 3px;
}
.paths .breadcrumb-item::before {
  padding-right: 3px;
}

.content {
  height: 100%;
  overflow: scroll;
  padding-top: 42px;
  background: #f8f8f8;
  text-align: center;
}
.file-content {
  padding: 4px 7px;
  text-align: left;
  background: #ffffff;
  min-height: 100%;
}
.image-content {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 4px;
}
.file-error {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.preview {
  height: 100%;
  overflow: scroll;
}
pdfviewer {
  display: block;
  padding: 15px;
}
pdfpageviewer {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

notebook {
  display: block;
  text-align: left;
  padding: 15px;
  padding-left: 100px;
}

.floatingchat-container-wrap {
  left: inherit !important;
  bottom: inherit !important;
  top: 3px !important;
  height: 47px !important;
  right: 3px !important;
}
.floating-chat-kofi-popup-iframe {
  left: inherit !important;
  bottom: inherit !important;
  top: 55px !important;
  right: 10px !important;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  float: right;
  margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.table.repositories td {
  word-break: break-word;
}

loc {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
}
loc .lang {
  float: left;
  height: 100%;
}

.rounded-circle.fa {
  display: inline-block;
  font-size: 75px;
  height: 140px;
  width: 140px;
  border: 4px solid;
  line-height: 140px;
  text-align: center;
}

.ace_scroller {
  cursor: default;
}
