<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="main">
            <div class="container-fluid">
                <h1>GihHub Anonymous</h1>
                <h2>Anonymous a GitHub repository</h2>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name">GitHub Repository</label>
                        <input class="form-control" value="{{ repo.name }}" name="name" id="name" aria-describedby="name" placeholder="Anonymous Name">
                        <small id="nameHelp" class="form-text text-muted">The anonymous name of the repository.</small>
                    </div>
                    <div class="form-group">
                        <label for="githubRepository">GitHub Repository</label>
                        <input type="url" value="{{ repo.repository }}" class="form-control" name="githubRepository" id="githubRepository" aria-describedby="githubRepository" placeholder="GitHub Repository">
                        <small id="githubRepositoryHelp" class="form-text text-muted">The github url to the repository that you want to anonymous.</small>
                    </div>
                    <div class="form-group">
                        <label for="ignoredTerms">The text to remove from the repository</label>
                        <textarea class="form-control" name="terms" id="ignoredTerms" rows="5">{{ repo.terms|join('\n') }}</textarea>
                        <small id="ignoredTermsHelp" class="form-text text-muted">One term per line.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% if not repo %}
                <h2>Edit an Anonymous GitHub repository</h2>
                <form action="" method="get">
                    <div class="form-group">
                        <label for="name">Anonymous GitHub Repository</label>
                        <input class="form-control" name="id" id="name" aria-describedby="name" placeholder="Id Anonymous GitHub Repository">
                        <small id="nameHelp" class="form-text text-muted">The id of the Anonymous GitHub repository.</small>
                    </div>
                    <div class="form-group">
                        <label for="githubRepository">GitHub Repository</label>
                        <input type="url" class="form-control" name="githubRepository" id="githubRepository" aria-describedby="githubRepository" placeholder="GitHub Repository">
                        <small id="githubRepositoryHelp" class="form-text text-muted">The github url to the repository that you want to anonymous.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>