<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="leftCol shadow p-1 overflow-auto" ng-show="files">
      <tree class="files" file="files"></tree>
      <div class="bottom column">
        <div
          class="last-update"
          data-toggle="tooltip"
          data-placement="top"
          title="{{options.lastUpdateDate}}"
        >
          Last Update: {{options.lastUpdateDate|date}}
        </div>
      </div>
    </div>
    <div class="col-md h-100 overflow-auto p-0 d-flex flex-column">
      <div class="d-flex align-content-between status-bar shadow">
        <ol class="flex-grow-1 breadcrumb paths">
          <li class="breadcrumb-item" ng-repeat="p in paths" ng-bind="p">
            Loading...
          </li>
        </ol>
        <div class="">
          <a
            ng-href="{{url}}"
            target="__self"
            class="btn btn-outline-primary btn-sm"
            >View raw</a
          >
          <a
            ng-href="{{url}}?download=true"
            target="__self"
            class="btn btn-outline-primary btn-sm"
            >Download file</a
          >
          <a
            ng-if="options.download"
            ng-href="/api/repo/{{repoId}}/zip"
            target="__self"
            class="btn btn-outline-primary btn-sm"
            >Download Repository</a
          >
        </div>
      </div>
      <div class="align-items-stretch h-100 w-100 overflow-auto">
        <ng-include src="'./partials/pageView.htm'"></ng-include>
      </div>
    </div>
  </div>
</div>
