<div class="explorer-page" ng-init="sidebarCollapsed = window.matchMedia && window.matchMedia('(max-width: 767px)').matches">
  <button
    class="sidebar-toggle"
    ng-show="files.length"
    ng-click="sidebarCollapsed = !sidebarCollapsed"
    aria-label="{{sidebarCollapsed ? 'Show files' : 'Hide files'}}"
  >
    <i class="fas" ng-class="sidebarCollapsed ? 'fa-folder-open' : 'fa-times'"></i>
    <span ng-bind="sidebarCollapsed ? 'Files' : 'Close'"></span>
  </button>

  <div class="leftCol" ng-show="files.length" ng-class="{'collapsed': sidebarCollapsed}">
    <div class="leftCol-head">
      <span class="leftCol-eyebrow">Files</span>
      <button class="leftCol-close" ng-click="sidebarCollapsed = true" aria-label="Close files">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="leftCol-body">
      <div
        ng-if="options.truncatedFolders.length > 0"
        class="paper-inline-warning"
        role="alert"
      >
        <i class="fas fa-exclamation-triangle"></i>
        {{ 'WARNINGS.repo_truncated' | translate }}
      </div>
      <tree class="files" file="files"></tree>
    </div>
    <div class="leftCol-foot">
      <span
        class="last-update"
        data-toggle="tooltip"
        data-placement="top"
        title="{{options.lastUpdateDate}}"
      >
        Updated {{options.lastUpdateDate|date}}
      </span>
    </div>
  </div>

  <div
    class="leftCol-backdrop"
    ng-show="files.length && !sidebarCollapsed"
    ng-click="sidebarCollapsed = true"
  ></div>

  <div class="explorer-main">
    <div class="status-bar">
      <ol class="breadcrumb paths" aria-label="Path">
        <li class="breadcrumb-item" ng-repeat="p in paths" ng-bind="p"></li>
      </ol>
      <div class="status-bar-actions">
        <a
          ng-if="options.isAdmin || options.isOwner"
          ng-href="/anonymize/{{repoId}}"
          class="btn btn-sm"
          aria-label="Edit"
          ><i class="far fa-edit"></i><span class="d-none d-md-inline"> Edit</span></a
        >
        <a
          ng-show="content != null"
          ng-href="{{url}}"
          target="__self"
          class="btn btn-sm"
          aria-label="Raw"
          ><i class="fas fa-file-alt"></i><span class="d-none d-md-inline"> Raw</span></a
        >
        <a
          ng-show="content != null"
          ng-href="{{url}}&download=true"
          target="__self"
          class="btn btn-sm"
          aria-label="Download"
          ><i class="fas fa-download"></i><span class="d-none d-md-inline"> Download</span></a
        >
        <a
          ng-if="options.download"
          ng-href="/api/repo/{{repoId}}/zip"
          target="__self"
          class="btn btn-sm"
          aria-label="Download ZIP"
          ><i class="fas fa-file-archive"></i><span class="d-none d-md-inline"> ZIP</span></a
        >
        <a
          ng-if="options.hasWebsite"
          ng-href="/w/{{repoId}}/"
          target="__self"
          class="btn btn-sm"
          aria-label="Website"
          ><i class="fas fa-globe"></i><span class="d-none d-md-inline"> Website</span></a
        >
      </div>
    </div>
    <div class="explorer-content">
      <ng-include src="'./partials/pageView.htm'"></ng-include>
    </div>
  </div>
</div>
