<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="container px-md-3 px-sm-0">
      <section
        class="accordion-section clearfix mt-3"
        aria-label="Question Accordions"
      >
        <div class="container">
          <h2>Frequently Asked Questions</h2>
          <div
            class="panel-group"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#download"
                    aria-expanded="true"
                    aria-controls="download"
                  >
                    Can I download the repository?
                  </a>
                </h3>
              </div>
              <div
                id="download"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading0"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    It is currently not possible to download an anonymized
                    repository neither to clone it.
                    It is technically possible to implement however it 
                    would require additional processing power and storage. 
                    I am currently not able to cover the cost of this feature.
                    If you want to see this feature on Anonymous GitHub, please consider doing a donation.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#limitation"
                    aria-expanded="true"
                    aria-controls="download"
                  >
                    What are the limitations of Anonymous GitHub?
                  </a>
                </h3>
              </div>
              <div
                id="limitation"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading6"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    <ul>
                      <li>
                        Anonymous GitHub does not allow to download the repository.
                      </li>
                      <li>
                        Anonymous GitHub only anonymizes textual files.
                      </li>
                      <li>
                        Anonymous GitHub does not support files that are larger than 8Mo.
                      </li>
                      <li>
                        The anonymization can change the behavior of the program.
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#formats"
                    aria-expanded="true"
                    aria-controls="formats"
                  >
                    Which file formats are supported?
                  </a>
                </h3>
              </div>
              <div
                id="formats"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading1"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    Anonymous Github is able to display pure textual files, such as text or source code. It can also render images, PDFs, and notbooks.
                    However, only textual based files are anonymized. Anonymous Github considers the following file format as textual:
                  </p>
                  <p>
                    <ul>
                      <li ng-repeat="format in supportedFileTypes" ng-bind="format"></li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#cost"
                    aria-expanded="true"
                    aria-controls="cost"
                  >
                    How much does it cost?
                  </a>
                </h3>
              </div>
              <div
                id="cost"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading2"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    Anonymous Github is free to use, however the server costs me hundreds of dollars per year, a small donation to cover to cost is largely appreciated.
                    You can support me financially by <a href="https://github.com/sponsors/tdurieux/" target="__self">Sponsoring my GitHub account</a>, send me money thought <a href="https://ko-fi.com/tdurieux" target="__self">Ko-fi</a> or by clicking on the "Support me" button.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#data"
                    aria-expanded="true"
                    aria-controls="data"
                  >
                    Data privacy
                  </a>
                </h3>
              </div>
              <div
                id="data"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading3"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    The data stored on Anonymous Github are never used or shared in any cases. 
                    When a repository is removed or expired only the configuration of the repository is conserved to be able to restore easily the repository and to ensure that no future repository will use the same repository id. 
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#privacy"
                    aria-expanded="true"
                    aria-controls="privacy"
                  >
                    Privacy of the viewer
                  </a>
                </h3>
              </div>
              <div
                id="privacy"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading4"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    The viewers of the repository are not tracked, only the number of view of the repository is collected (a single incremental digit).
                    It is not possible for the repository owner neither for Anonymous GitHub to track down the identity of the viewer. 
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                <h3 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    title=""
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#deploy"
                    aria-expanded="true"
                    aria-controls="deploy"
                  >
                    Deploying your own instance?
                  </a>
                </h3>
              </div>
              <div
                id="deploy"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="heading5"
              >
                <div class="panel-body px-3 mb-4">
                  <p>
                    Anonymous GitHub is fully open source and the deployment of a new instance is relatively easy. More information can be found on the GitHub repository of the project.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
